<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>পাঠক | বাংলা টেক্সট-টু-স্পিচ</title>
	<meta name="og:image" content="">
	<meta name="description" content="">
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css" rel="stylesheet">
	<link href="http://mozillabd.org/static_content/css/jumbo.css" rel="stylesheet">
	<style>* { font-family: SolaimanLipi, 'Siyam Rupali', Kalpurush, SutonnyOMJ, sans-serif !important; }</style>
</head>
<body onload="$('#speech-text').focus()">
	<div class="container">
		<div class="jumbotron">
			<h1>পাঠক</h1>
			<h2>বাংলা টেক্সট-টু-স্পিচ</h2>
			<form method="post" action="/gen" role="form">
				<p class="lead"><textarea maxlength=250 type="text" class="form-control text-term" name="text" id="speech-text" placeholder="এটি আপনার লেখাকে পড়ে শোনাবে। আপনি কি শুনতে চান? টাইপ করুন।"></textarea></p>
				<div class="radio-inline">
					<label style="font-size: 1.2em;">
						<input type="radio" name="sex" id="female" value="female" checked>
						নারী কন্ঠ
					</label>
				</div>
				<div class="radio-inline">
					<label style="font-size: 1.2em;">
						<input type="radio" name="sex" id="male" value="male">
						পুরুষ কন্ঠ
					</label>
				</div>
				<p><button type="submit" class="btn btn-lg btn-success" onclick="playit()">শোনাও</button></p>

				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpathok.adhikary.net%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=636592916387858" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>

			</form>
		</div>
		<div class="footer">
		<p style="text-align: center;">তৈরি করেছেন - অনিরুদ্ধ অধিকারী | <a href="https://github.com/aniruddha-adhikary/espeak-webui">সোর্স কোড</a> | মোজিলা পাবলিক লাইসেন্স ২.০ এর অধীনে প্রকাশিত</p>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>