<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>পাঠক | বাংলা টেক্সট-টু-স্পিচ</title>
	<meta name="og:image" content="">
	<meta name="description" content="">
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css" rel="stylesheet">
	<link href="http://mozillabd.org/static_content/css/jumbo.css" rel="stylesheet">
</head>
<body onload="$('#speech-text').focus()">
	<div class="container">
		<div class="jumbotron">
			<h1>পাঠক</h1>
			<h2>বাংলা টেক্সট-টু-স্পিচ</h2>
			<audio style="margin-top: 1.5em;" src="/audio/{{path}}.wav" autoplay controls>আপনার ব্রাউজার HTML5 Audio সমর্থন করে না।</audio>
		</div>
		<div class="footer">
		<p style="text-align: center;">তৈরি করেছেন - অনিরুদ্ধ অধিকারী | <a href="https://github.com/aniruddha-adhikary/espeak-webui">সোর্স কোড</a> | মোজিলা পাবলিক লাইসেন্স ২.০ এর অধীনে প্রকাশিত</p>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>